[Unit]
Description=DHCP client daemon
After=network.target systemd-resolved.service
Before=network-online.target

[Service]
Type=forking
ExecStart=/sbin/dhcpcd
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
