[Unit]
Description=Resize rootfs
DefaultDependencies=no
After=getty.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/S60rootfs-resize start

[Install]
WantedBy=multi-user.target
