BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_FPU_VFPV3=y

# System
# BR2_TARGET_GENERIC_GETTY_PORT="ttymxc0"

# MAX CPUS
BR2_PACKAGE_ICC_MAX_CPUS=4

# required tools to create the SD card image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/nxp/common/post-build-ubuntu-base-16.04.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(LINUX_DIR) $(TOPDIR) $(UBOOT_DIR)"

# Filesystem
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/freescale/common/imx/post-image.sh"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_GZIP=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_SITE="http://cdimage.ubuntu.com/ubuntu-base/releases/xenial/release"
BR2_ROOTFS_SKELETON_CUSTOM_SOURCE="ubuntu-base-16.04.5-base-armhf.tar.gz"
BR2_ROOTFS_SKELETON_CUSTOM_SITE_METHOD="wget"
BR2_ROOTFS_SKELETON_CUSTOM_EXTRACT="tar zxvf"
BR2_ROOTFS_SKELETON_CUSTOM_EXTRACT_IGNORE_ERROR=y
BR2_ROOTFS_POST_CUSTOM_SKELETON_SCRIPT="board/nxp/common/post-custom-skeleton-ubuntu-base-16.04.sh"
BR2_INIT_SYSTEMD=y

# Hostname and issue
BR2_TARGET_GENERIC_ISSUE="Welcome to OpenIL"

# Linux headers same as kernel
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# toolchain
BR2_TOOLCHAIN_EXTERNAL=y

# Bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="mx6sabresd"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/openil/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="OpenIL-v1.7-u-boot-202001"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="SPL"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/openil/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="OpenIL-v1.7-linux-202001"
BR2_LINUX_KERNEL_DEFCONFIG="imx_v6_v7"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/freescale/common/imx/linux-4_9-selinux.config board/nxp/common/linux-4_9-selinux.config board/nxp/common/linux-4_9-dmcrypt.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="imx6q-sabresd"

# linux partition size
BR2_TARGET_ROOTFS_EXT2_EXTRA_BLOCKS=1024000
BR2_TARGET_ROOTFS_EXT2_EXTRA_INODES=102400

# busybox setting disable
BR2_PACKAGE_BUSYBOX=n

# basic packages and tools
BR2_PACKAGE_NET_TOOLS=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_WGET=y

# dhcpd package
BR2_PACKAGE_DHCPCD=y

# Text editors
BR2_PACKAGE_NANO=y

# IGH ETHERCAT
# BR2_PACKAGE_IGH_ETHERCAT=y


# ptp4l package
BR2_PACKAGE_PTP4L=y

# resize2fs package
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y

# disable CAN festival
BR2_PACKAGE_CANFESTIVAL=n
BR2_PACKAGE_CANFESTIVAL_ARCH_SUPPORTS=n
