# Architecture
BR2_aarch64=y

# Filesystem
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_GZIP=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_SITE="http://cdimage.ubuntu.com/ubuntu-base/releases/xenial/release"
BR2_ROOTFS_SKELETON_CUSTOM_SOURCE="ubuntu-base-16.04.3-base-arm64.tar.gz"
BR2_ROOTFS_SKELETON_CUSTOM_SITE_METHOD="wget"
BR2_ROOTFS_SKELETON_CUSTOM_EXTRACT="tar zxvf"
BR2_ROOTFS_SKELETON_CUSTOM_EXTRACT_IGNORE_ERROR=y
BR2_ROOTFS_POST_CUSTOM_SKELETON_SCRIPT="board/nxp/common/post-custom-skeleton-ubuntu-base-16.04.sh"
BR2_INIT_SYSTEMD=y

# system issue
BR2_TARGET_GENERIC_ISSUE="Welcome to OpenIL"

# Linux headers same as kernel
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y

# toolchain
BR2_TOOLCHAIN_EXTERNAL=y

# bootloader
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="ls1043ardb_tfa"
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/openil/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="OpenIL-v1.7-u-boot-202001"
BR2_TARGET_UBOOT_NEEDS_DTC=y
BR2_TARGET_UBOOT_FORMAT_BIN=n
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-dtb.bin"
BR2_PACKAGE_UBOOT_TOOLS_MKIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE_SOURCE="board/nxp/ls1043ardb/u-boot-environment-64b.txt"
BR2_TARGET_UBOOT_ENVIMAGE_SIZE="0x2000"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/openil/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="OpenIL-v1.7-linux-202001"
BR2_LINUX_KERNEL_USE_ARCH_DEFAULT_CONFIG=y
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(LINUX_DIR)/arch/arm64/configs/lsdk.config board/nxp/common/linux-4_9-selinux.config board/nxp/common/linux-4_9-docker.config board/nxp/common/linux-4_9-dmcrypt.config board/nxp/common/linux-4_9-xenomai.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="freescale/fsl-ls1043a-rdb-sdk"
BR2_LINUX_KERNEL_IMAGE_TARGET_CUSTOM=y
BR2_LINUX_KERNEL_IMAGE_TARGET_NAME="Image"
#BR2_LINUX_KERNEL_UIMAGE=y
#BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x80008000"
# Serial port config
BR2_TARGET_GENERIC_GETTY=n
# BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"

# required tools to create the microSD image
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/nxp/common/post-build-ubuntu-base-16.04.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/nxp/ls1043ardb/post-image-64b-ubuntu.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(LINUX_DIR) $(TOPDIR) $(UBOOT_DIR)"

# Add ota overlay
BR2_ROOTFS_OVERLAY="board/nxp/common/ota_overlay board/nxp/common/systemd_init_overlay"

# extend the partition size
BR2_TARGET_ROOTFS_EXT2_EXTRA_BLOCKS=102400
BR2_TARGET_ROOTFS_EXT2_EXTRA_INODES=102400

# busybox setting disable
BR2_PACKAGE_BUSYBOX=n

#
# Networking applications
#
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_CLIENT=y

#
# System tools
#
BR2_PACKAGE_PSMISC=y

# RCW
BR2_PACKAGE_RCW=y
BR2_PACKAGE_RCW_BIN="ls1043ardb/RR_FQPP_1455/rcw_1600_sdboot.bin"

# packages for fman and fmc
BR2_PACKAGE_FMLIB=y
BR2_PACKAGE_FMUCODE=y
BR2_PACKAGE_FMUCODE_BIN="fsl_fman_ucode_ls1043_r1.1_108_4_9.bin"
BR2_PACKAGE_FMC=y

# dhcpd/net/ip packages
BR2_PACKAGE_DHCPCD=y
BR2_PACKAGE_NET_TOOLS=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_OPENSSL=y

# wget package
BR2_PACKAGE_WGET=y

# Text editors
BR2_PACKAGE_NANO=y

# IGH ETHERCAT
BR2_PACKAGE_IGH_ETHERCAT=y

#
# Edge-scale service
#
BR2_PACKAGE_QORIQ_EDGESCALE_EDS=y
BR2_PACKAGE_QORIQ_EDS_KUBELET=y
BR2_PACKAGE_QORIQ_EDS_BOOTSTRAP=y

BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_COLLECTD_CURL=y
BR2_PACKAGE_COLLECTD_CURL_JSON=y
BR2_PACKAGE_COLLECTD_CURL_XML=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_CURL=y
BR2_PACKAGE_LIBCURL_VERBOSE=y
BR2_PACKAGE_FLICKCURL=y

BR2_PACKAGE_FLICKCURL_UTILS=y
BR2_PACKAGE_VIM=y
BR2_PACKAGE_VIM_RUNTIME=y

#
# sqlcipher conflicts with sqlite
#
BR2_PACKAGE_SQLITE=y

BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y

BR2_PACKAGE_DOCKER_ENGINE=y
BR2_PACKAGE_DOCKER_ENGINE_DAEMON=y

BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PYC_ONLY=y

#
# core python modules
#

BR2_PACKAGE_PYTHON_UNICODEDATA=y
BR2_PACKAGE_PYTHON_UCS2=y

#
# External python modules
#
BR2_PACKAGE_PYTHON_NUMPY_ARCH_SUPPORTS=y

BR2_PACKAGE_LIBFFI=y

# TFA support
BR2_PACKAGE_TFA=y
