[Unit]
Description=netopeer2-keystored
Requires=sysrepod.service
After=sysrepod.service

[Service]
Type=oneshot
ExecStart=/usr/bin/netopeer2-keystored
PIDFile=/var/run/netopeer2-keystored.pid
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
